n8n_build5_founder_approval.json
{
  "name": "CPS — Build 5 — Founder PO Approval (WhatsApp)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "build-5-founder-approval",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "build-5-founder-approval"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 180]
    },
    {
      "parameters": {
        "jsCode": "// ── Format WhatsApp messages for each founder ──\nconst body = $input.first().json.body ?? $input.first().json;\n\nconst poNumber    = body.po_number    ?? 'N/A';\nconst supplier    = body.supplier_name ?? 'N/A';\nconst grandTotal  = body.grand_total != null\n  ? '₹' + Number(body.grand_total).toLocaleString('en-IN', { minimumFractionDigits: 2 })\n  : 'N/A';\nconst payment     = body.payment_terms  ?? 'N/A';\nconst delivery    = body.delivery_date  ?? 'N/A';\nconst poId        = body.po_id          ?? '';\n\nconst approvalLinks = Array.isArray(body.approval_links) ? body.approval_links : [];\n\n// Build one output row per founder\nreturn approvalLinks.map((fl) => ({\n  po_id:        poId,\n  po_number:    poNumber,\n  founder_name: fl.founder_name,\n  approval_link: fl.link,\n  message: [\n    `🏗️ *PO Approval Required*`,\n    ``,\n    `*PO No:* ${poNumber}`,\n    `*Supplier:* ${supplier}`,\n    `*Grand Total:* ${grandTotal}`,\n    `*Payment Terms:* ${payment}`,\n    `*Delivery Date:* ${delivery}`,\n    ``,\n    `Please review and respond:`,\n    fl.link,\n    ``,\n    `— Hagerstone Procurement`\n  ].join('\\n')\n}));\n"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Format Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.maytapi.com/api/{{$env.MAYTAPI_PHONE_ID}}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-maytapi-token",
              "value": "={{$env.MAYTAPI_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"to_number\": \"{{ $json.founder_name === 'Dhruv' ? '917860650640' : '919958131069' }}\",\n  \"type\": \"text\",\n  \"message\": {{ JSON.stringify($json.message) }}\n}",
        "options": {
          "ignore400": true
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Wait 3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [680, 480],
      "webhookId": "wait-node-build5"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://orhbzvoqtingmqjbjzqw.supabase.co/rest/v1/cps_purchase_orders?id=eq.{{$('Format Messages').first().json.po_id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"founder_approval_status\": \"sent\"}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Update PO Status → sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://orhbzvoqtingmqjbjzqw.supabase.co/rest/v1/cps_audit_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"entity_type\": \"purchase_order\",\n  \"entity_id\": \"{{$('Format Messages').first().json.po_id}}\",\n  \"action\": \"founder_approval_sent\",\n  \"actor_id\": null,\n  \"details\": {\"po_number\": \"{{$('Format Messages').first().json.po_number}}\", \"founders_notified\": [\"Dhruv\", \"Bhaskar\"]},\n  \"logged_at\": \"{{new Date().toISOString()}}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Write Audit Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Messages": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          {
            "node": "Wait 3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3s": {
      "main": [
        [
          {
            "node": "Update PO Status → sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update PO Status → sent": {
      "main": [
        [
          {
            "node": "Write Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "build5-v2",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    { "name": "CPS" }
  ]
}
